<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container text-center">
        <h2>Welcome to Funny Tweets!</h2>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->


    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group"><input class="form-control" aria-label="Search keyword" placeholder="Keyword">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" aria-label="Advanced Search" data-toggle="collapse" data-target="#advancedSearchCollapse" aria-expanded="false" aria-controls="advancedSearchCollapse">
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </button>
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">&nbsp;</div>

    <form class="collapse form-horizontal" role="form" ng-submit="addQuery()" id="advancedSearchCollapse" >
        <div ng-include="'views/_queryForm.html'"></div>
        <div class=" col-lg-4 col-lg-offset-4">
            <input type="submit" class="btn btn-primary" value="Search"/>
        </div>
    </form>


    <hr>

    <footer>
        <p>&copy; Boun 2017</p>
    </footer>
</div> <!-- /container -->
